* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.topo {
    width: 1366px;
    height: 89px;
    background: #404EED;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 80px;
}

.usuario {
    margin-left: 646px;
    width: 248px;
    height: 39px;
    background-color: #D9D9D9;
    border-radius: 20px;
    border-style: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.nome {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.meio {
    display: flex;
}

.esquerda {
    width: 696px;
    background-color: #FCFCFC;
    display: flex;
    justify-content: center;
}

.infocamisetas {
    margin-top: 38px;
    width: 399px;
    background-color: #FCFCFC;
}

.modelo p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.op3 {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.icone {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #C4C4C4;
}

.opcao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.opcao p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #232323;
    margin-top: 8px;
}

.modelo2 {
    margin-top: 31px;
}

.modelo2 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.linkcamiseta p {
    margin-top: 33px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

input {
    width: 396px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #F2F2F2;
}

.pedido {
    width: 398px;
    height: 40px;
    margin-top: 24px;
    background: #C4C4C4;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 39px;
    color: #FCFCFC;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.direita {
    width: 670px;
    background-color: #404EED;
    display: flex;
    justify-content: center;
}

.baixo {
    margin-top: 0;
    background-color: #F2F2F2;
    width: 1366px;
    display: flex;
}

.ultpedidos {
    margin-top: 30px;
    width: 1366px;
    background-color: #F2F2F2;
    margin-left: 150px;
    margin-right: 90px;
}

.ultpedidos p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.filtros {
    margin-top: 23px;
    width: 410px;
    display: flex;
    justify-content: space-between;
}

.tudo, .ts, .camis, .longa {
    border-radius: 10px;
    height: 36px;
    background-color: #C4C4C4;
    border-style: none;
    color: #FCFCFC;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.pedidosantigos {
    display: flex;
    margin-top: 25px;
    height: 256px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
}

.antigos {
    width: 215px;
    height: 256px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    margin-bottom: 18px;
    background-color: #FFFFFF;
}

.antigos p {
    margin-top: 9px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.selecionadamodelo{
    border: 3px solid #404EED;
}

.selecionagola{
    border: 3px solid #404EED;
}

.selecionadatecido{
    border: 3px solid #404EED;
}

.liberabotao{
    background-color: #404EED;
}

.escondida{
    display: none;
}

.sucesso p:nth-child(1){
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 130px;
    margin-top: 37px;
    font-size: 36px;
}

.tempo{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 130px;
    font-size: 20px;
    margin-bottom: 74px;
    color: #404EED;
}

.sucesso{
    width: 696px;
    height: 702px;
}

.imgref{
    margin-left: 130px;
    width: 436px;
    height: 524px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.erro{
    width: 696px;
    height: 702px;
}

.erro p:nth-child(1){
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 205px;
    margin-top: 37px;
    font-size: 36px;
}

.erro p:nth-child(2){
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 170px;
    font-size: 20px;
    margin-top: 8px;
    color: #404EED;
}

.contador{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #404EED;
}

.criadas {
    width: 193px;
    height: 195px;
}